/* imports */

@import url(fonts.css);

/* resets */

*,
*::before,
*::after {
  font-size: 62.5%;
  box-sizing: border-box;
  margin: 0px;
}

body {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.644);
}

.banner {
  background-image: url(assets/img/banner-bg.png);
  width: 1300px;
  height: 566px;
}

.header {
  width: 1300px;
  height: 160px;
  display: flex;
  justify-content: flex-start;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  background-image: url(assets/img/logo.png);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  width: 84px;
  height: 84px;
  margin-left: 140px;
  margin-bottom: 19px;
}

.logo-txt {
  font-size: 41px;
  letter-spacing: 1.9px;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Segoe WP";
  font-style: italic;
  text-align: center;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.42));
  margin-left: 0.2em;
  margin-bottom: 16px;
}
