* {
  font-size: 62.5%;
  box-sizing: border-box;
}

@font-face {
  font-family: "PTsans-regular", "PTsans-narrow-bold";
  src: url(assets/fonts/PTsans/PTC55F.ttf);
  src: url(assets/fonts/PTsans/PTS55F.ttf);

  font-family: "SegoeWP", "Segoe-wp-light";
  src: url(assets/fonts/SegoeWP.woff);
  src: url(assets/fonts/segoe-wp-light.woff);

  font-family: "Asap";
  src: url(assets/fonts/Asap-Regular.otf);

  font-family: "Open sans";
  src: url(assets/fonts/opensans/OpenSans-Bold.ttf);
  src: url(assets/fonts/opensans/OpenSans-BoldItalic.ttf);
  src: url(assets/fonts/opensans/OpenSans-ExtraBold.ttf);
  src: url(assets/fonts/opensans/OpenSans-ExtraBoldItalic.ttf);
  src: url(assets/fonts/opensans/OpenSans-Italic.ttf);
  src: url(assets/fonts/opensans/OpenSans-Light.ttf);
  src: url(assets/fonts/opensans/OpenSans-LightItalic.ttf);
  src: url(assets/fonts/opensans/OpenSans-Regular.ttf);
  src: url(assets/fonts/opensans/Apache\ License.txt);
  src: url(assets/fonts/opensans/OpenSans-SemiboldItalic.ttf);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.header {
  background-color: antiquewhite;
  width: 1300px;
  height: 566px;
}
