/* imports */

@import url(fonts.css);

/* resets */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.644);
}

button {
  padding: 0;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
  background: none;
}

main {
  width: 130rem;
}

/* header section */

.banner {
  background-image: url(assets/img/banner-bg.png);
  width: 130rem;
  height: 56.6rem;
}

.header {
  width: 130rem;
  height: 160px;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  background-image: url(assets/img/logo.png);
  background-repeat: none;
  background-position: center;
  background-size: cover;
  width: 8.4rem;
  height: 8.4rem;
  margin-left: 14rem;
  margin-bottom: 1.9rem;
}

.logo-txt {
  font-size: 4.1rem;
  letter-spacing: 0.19rem;
  text-transform: uppercase;
  color: #ffffff;
  font-family: "Segoe WP";
  font-style: italic;
  text-align: center;
  filter: drop-shadow(0px 2px 0px rgba(0, 0, 0, 0.42));
  margin-left: 0.2rem;
  margin-bottom: 1.6rem;
}

/* Navigation bar */

.nav-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: 14rem;
  margin-top: 2.2rem;
}

.nav-bar-1 {
  width: 45.3rem;
  height: 4.1rem;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  opacity: 0.27;
  transform: translateX(-5px) translateY(-5px);
}
.nav-bar-2 {
  width: 45.3rem;
  height: 4.1rem;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  opacity: 0.27;
  transform: translateX(-5px) translateY(-5px);
}
.nav-bar-3 {
  position: absolute;
  top: 4.8rem;
  right: 0rem;
  width: 45.3rem;
  height: 4.1rem;
  background-image: linear-gradient(0deg, #f5c505 0%, #f5c505 100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-vert-div {
  position: absolute;
  top: 0rem;
  right: 14.5rem;
  width: 0.2rem;
  height: 4.1rem;
  background-image: linear-gradient(90deg, #9b7d08 0%, #9b7d08 100%);
}
.nav-vert-div-1 {
  position: absolute;
  top: 0rem;
  right: 27.8rem;
  width: 0.2rem;
  height: 4.1rem;
  background-image: linear-gradient(90deg, #9b7d08 0%, #9b7d08 100%);
}

.nav-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.1rem;
  height: 4.1rem;
}

.nav-about:hover,
.nav-about:active {
  cursor: pointer;
  background-color: aqua;
}

.about-icon {
  margin-left: 3.2rem;
}

.services-icon {
  margin-left: 2.9rem;
}

.nav-txt {
  margin-left: 0.9rem;
  font-size: 1.7rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  color: #9b7d08;
  font-family: "Segoe WP";
  font-weight: bold;
  text-align: center;
}

/* Banner slider */

.banner-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -0.7rem;
}

.sides {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 14rem;
}

.r-side {
  position: relative;
}

.left-btn {
  border: none;
  width: 3.2rem;
  height: 5.5rem;
  background-image: url(assets/img/ctrl-left.png);
  opacity: 0.71;
}

.right-btn {
  border: none;
  width: 3.2rem;
  height: 5.6rem;
  background-image: url(assets/img/ctrl-right.png);
  position: absolute;
  top: -3.5rem;
  right: 0rem;
}

.banner-vid {
  margin-top: 1.5rem;
  margin-left: -2rem;
}

.vid-description {
  margin-top: -1.5rem;
  margin-left: 1rem;
}

.vid-txt {
  font-size: 6.3rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #f5c506;
  font-weight: 400;
  font-family: "Asap";
  text-align: center;
}

.vid-txt:last-child {
  color: white;
  padding-left: 2rem;
}

/* Icon area */

.icon-area {
  background-color: #ffffff;
}
.icon-area-bg {
  width: 130rem;
  height: 21.4rem;
  background-image: url(assets/img/icon-area-bg.png);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.empty {
  display: inline-block;
  width: 13.9rem;
  height: 21.4rem;
}

.area-div {
  width: 0.15rem;
  height: 21.4rem;
  background-image: linear-gradient(90deg, #2c2b27 0%, #2c2b27 100%);
  opacity: 0.2;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 21.4rem;
}
.better-design {
  width: 14rem;
  height: 11rem;
  background-image: url(assets/img/icon-cloud.svg);
}

.customise {
  padding-bottom: 1.5rem;
  width: 14rem;
  height: 11rem;
  background-image: url(assets/img/icon-leaf.svg);
}

.free {
  margin-right: 1.5rem;
  width: 14rem;
  height: 11rem;
  background-image: url(assets/img/icon-paperplane.svg);
}

.icon-area-txt {
  width: 30rem;
  height: auto;
  font-size: 2.7rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  color: #000000;
  font-weight: 300;
  font-family: "Segoe WP";
  text-align: center;
}

/* Section 2 */

.section-2-bg {
  width: 130rem;
  height: 50.9rem;
  background-image: url(assets/img/section-2-bg.png);
}

.section-2-h3 {
  margin-left: 14rem;
  padding-top: 2.8rem;
  width: 91.8rem;
  height: 11rem;
  font-size: 3.7rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 400;
  font-family: "PT Sans";
}

.section-2-box {
  width: 104.6rem;
  height: auto;
  display: flex;
  align-items: center;
  margin-left: 14rem;
}

.txt-content {
  width: 34.1rem;
  height: 23.3rem;
  background-color: #ec9e03;
  display: flex;
  justify-content: space-between;
}

.s2-txt {
  padding-left: 2.5rem;
  padding-top: 1.5rem;
  width: 30rem;
  height: 30.7rem;
  font-size: 2.9rem;
  letter-spacing: 0rem;
  line-height: 3.8rem;
  color: #ffffff;
  font-weight: 300;
  font-family: "Segoe WP";
}

.plus-btn-left {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  align-self: flex-end;
  padding-right: 1.8rem;
  padding-bottom: 0.8rem;
}

.plus-btn-right {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  align-self: flex-end;
  padding-right: 1rem;
  padding-bottom: 0.8rem;
}

.twitter-box {
  margin-left: 3.3rem;
  width: 32.9rem;
  height: 23.3rem;
  background-color: #ec9e03;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.twitter {
  margin-left: 8rem;
  margin-top: 2rem;
  width: 17.3rem;
  height: 15rem;
  background-image: url(assets/img/twitter.png);
  background-repeat: no-repeat;
  fill-opacity: 0.9;
}

.s2-txt-twitter {
  padding-top: 0.8rem;
  padding-left: 2.5rem;
  font-size: 2.5rem;
  letter-spacing: 0rem;
  line-height: 3.8rem;
  color: #ffffff;
  font-weight: 300;
  font-family: "Segoe WP";
  align-self: flex-start;
}

.date-box {
  margin-left: 14rem;
  width: 11.3rem;
  height: 8.6rem;
  text-align: center;
  background-color: #ddb101;
}

.date-day {
  padding-top: 1.5rem;
  font-size: 5.1rem;
  letter-spacing: 0.1rem;
  line-height: 3.8rem;
  color: #ffffff;
  font-weight: bold;
  font-family: "Segoe WP";
}

.date-month {
  text-transform: uppercase;
  font-size: 2.1;
  letter-spacing: 0rem;
  line-height: 3.8rem;
  color: #b26529;
  font-family: "Segoe WP";
}

.slider {
  margin-left: 21.2rem;
  margin-top: 4.2rem;
}

.slider input[type="range"] {
  -webkit-appearance: none !important;
  width: 89.7rem;
  height: 1.6rem;
  background: #ffffff8a;
  border-radius: 2rem;
  border: none;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  width: 20rem;
  height: 1.6rem;
  background: #ec9e03;
  border-radius: 2rem;
  cursor: pointer;
}

/* Section 3 */

.s3-bg {
  width: 130rem;
  height: 49.9rem;
  background-image: url(assets/img/s3-bg.png);
}

.s3-heading {
  padding-top: 3.3rem;
  width: 130rem;
  height: 13rem;
  font-size: 4.3rem;
  letter-spacing: 0rem;
  text-transform: uppercase;
  color: #f5c506;
  font-weight: 400;
  font-family: "PT Sans";
  text-align: center;
}

.s3-content-box {
  width: 130rem;
  height: auto;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.s3-cont-left {
  width: 60.3rem;
  height: 32.5rem;
  background-image: url(assets/img/s3-free.png);
  margin-top: -5rem;
  margin-left: -8rem;
}

.s3-cont-right {
  width: 35.2rem;
  height: auto;
  margin-left: 5rem;
  margin-top: 5.1rem;
}

li {
  list-style-image: url(assets/img/li-item.svg);
  padding-left: 0.7rem;
  margin-bottom: 1rem;
  line-height: 2rem;
  width: 40rem;
  height: 4.5rem;
  font-size: 2.2rem;
  letter-spacing: 0rem;
  color: #a9a9a7;
  font-weight: 400;
  font-family: "Open Sans";
  word-wrap: break-word;
}

/* Footer */

.footer {
  width: 130rem;
  height: 6.8rem;
  background-image: url(assets/img/footer.png);
  background-repeat: none;
  background-size: contain;
}
